<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <title>About us</title>
</head>

<body>
    <div class="container">

        <header>
            <div class="logo"><a href="index.html">PetPal</a></div>
            <nav class="nav-links">
                <a href="breeds.html">Breeds</a>
                <a href="caretips&training.html">Caretips & Training</a>
                <a href="shop.html">Shop</a>
                <a href="about.html">About</a>
            </nav>

            <div style="display:flex; align-items:center;">
                <div class="search-container">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                        <path d="M15.5 14h-.79l-.28-.27A6.471 6.471 0 0016 9.5
                 6.5 6.5 0 109.5 16a6.471 6.471 0 004.23-1.57l.27.28v.79
                 l5 4.99L20.49 19l-4.99-5zM9.5 14C7.01 14 5 11.99
                 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z" />
                    </svg>
                    <input type="text" placeholder="Search" />
                </div>

                <svg class="cart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                    <path d="M7 18c-1.1 0-1.99.9-1.99 
               2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zm0 
               2zm10 0c-1.1 0-1.99.9-1.99 
               2S15.9 22 17 22s2-.9 2-2-.9-2-2-2zm0 
               2zM7.16 14l-.94-2h11.45c.75 0 
               1.41-.41 1.75-1.03l3.58-6.49A.996.996 
               0 0018.6 3H5.21l-.94-2H1v2h2l3.6 
               7.59-1.35 2.45C4.52 13.37 5.48 15 
               7.16 15H19v-2H7.42c-.14 0-.25-.11-.26-.25l.01-.03z" />
                </svg>
        </header>

        <!--background image of dog behind the about us title-->
        <h2>About us</h2>

        <div class="about-us-message">
            <p>Welcome to PetPal your ultimate<br> destination for everything dogs!<br>
                We believe dogs aren't just pets,<br> they're family. Our mission is to make<br>
                every dogs life happier, healthier and<br> more fun by connecting pet lovers<br>
                with trusted tips, quality products and<br> inspiring stories.
            </p>
            <!--insert code for image next to the about us message-->
        </div>

        <div class="Mission-and-Values">
            <h2>Mission & Values</h2>
            <!--Code for image, not clickable but style effect (here)-->
            <p>Education</p>
            <!--Code for image, not clickable but style effect (here)-->
            <p>Compassion</p>
            <!--Code for image, not clickable but style effect (here)-->
            <p>Community</p>
        </div>

        <div class="Meet-the-team">
            <!--Code for large image, not clickable but style effect (here)-->
            <p>From playful pups to wise old companions, every dog deserves the best.<br>
                That's why PetPal is here to make tails wag and hearts smile.
            </p>
        </div>

        <div class="end-section">
            <h2>Join us</h2>
            <a class="about-us-option" href="">Learn More About Breeds</a>
            <a class="about-us-option" href="">Support Our Mission</a>
        </div>
    </div>
</body>

</html>