<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="style.css">
    <script defer src="script.js"></script>
    <title>Pet Pal - About</title>
</head>

<body>
    <div class="container">

        <header>
            <nav class="nav">
                <div class="logo"><a href="index.html">PetPal</a></div>
                <div class="nav-links">
                    <a href="breeds.html">Breeds</a>
                    <a href="caretips.html">Caretips & Training</a>
                    <a href="shop.html">Shop</a>
                    <a href="about.html">About</a>
                </div>
            </nav>
        </header>

        <!--background image of dog behind the about us title-->
        <section class="hero-section">
            <div class="slideshow">
                <figure class="slide"
                    style="background-image: url(https://images.pexels.com/photos/247522/pexels-photo-247522.jpeg);">
                </figure>
                <figure class="slide"
                    style="background-image: url(https://images.pexels.com/photos/333083/pexels-photo-333083.jpeg);">
                </figure>
                <figure class="slide"
                    style="background-image: url(https://images.pexels.com/photos/686094/pexels-photo-686094.jpeg);">
                </figure>
            </div>
            <h2 class="hero-title">About Us</h2>
        </section>

        <!--About us message with image on the right-->

        <section class="about-us">
            <div class="about-text">
                <p>Welcome to PetPal your ultimate destination for everything dogs!
                    We believe dogs aren't just pets, they're family. Our mission is to make
                    every dogs life happier, healthier and more fun by connecting pet lovers
                    with trusted tips, quality products and inspiring stories.
                </p>
                <div class="about-image">
                    <img src="https://cdn.britannica.com/74/74774-050-AFC77E97.jpg" alt="Group of dogs" />
                </div>
            </div>
        </section>

        <!--Mission & Values section-->
        <section class="mission-values">
            <h2>Mission & Values</h2>
            <div class="value-grid">
                <div class="value-box">
                    <img src="https://images.pexels.com/photos/159557/leisure-wildlife-photography-pet-photography-dog-159557.jpeg"
                        alt="Education" />
                    <h3>Education</h3>
                    <p>We offer trustworthy information to help you care for your dog</p>
                </div>
            </div>
            <div class="value-box">
                <img src="https://www.belleforestanimalhospital.com/files/Havanese-original.jpeg" alt="Compassion" />
                <h3>Compassion</h3>
                <p>We believe in kindness toward every dog and pet lover.</p>
            </div>

            <div class="value-box">
                <img src="https://images.pexels.com/photos/2197906/pexels-photo-2197906.jpeg" alt="Community" />
                <h3>Community</h3>
                <p>We build a community where every dog belongs.</p>
            </div>
    </div>
    </section>

    <!--Meet the team section-->
    <section class="meet-team">
        <h2>Meet the Team</h2>
        <div class="team-image">
            <img src="https://media.istockphoto.com/id/2094337676/photo/diverse-team-working-together-in-modern-co-working-space.jpg?b=1&s=612x612&w=0&k=20&c=2v4DOD92iXHpXHU3eU9b7RtS70_OGvJ1e64Xa6kLqHo="
                alt="Our team" />
        </div>
        <p>From playful pups to wise old companions, every dog deserves the best.<br>
            That's why PetPal is here to make tails wag and hearts smile.
        </p>
    </section>

    <!--Join us section-->
    <section class="join-us">
        <h2>Join Us</h2>
        <div class="join-options">
            <a class="join-btn" href="#">Learn More About Breeds</a>
            <a class="join-btn" href="#">Support Our Mission</a>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 PetPal - All Rights Reeserved</p>
    </footer>
    </div>
</body>

</html>