body {
            margin: 0;
            font-family: 'Poppins', sans-serif;
            background-color: #f8f8ec;
     
            /* off-white background */
        }

        header {
            background-color: #61a6ab;
            color: #f1f2e0;
            padding: 15px 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;

        }

        .logo {
            font-size: 40px;
            font-weight: 700;
            color: #f1f2e0;
        }

        .logo a {
            text-decoration: none;
        }

        .logo a:visited {
            text-decoration: none;
            color: #f1f2e0;
        }


        .nav-links {
            display: flex;
            gap: 30px;
           
        }

        .nav-links a {
            text-decoration: none;
            color: #f8f8ec;
            font-weight: 500;
            font-size: 16px;
        }

        .search-container {
            display: flex;
            align-items: center;
            background: #f8f8ec;
            border-radius: 50px;
            padding: 6px 14px;
        }

        .search-container input {
            border: none;
            outline: none;
            background: transparent;
            padding: 6px 8px;
            font-size: 14px;
            color: #3a9995;
        }

        .search-container svg {
            width: 20px;
            height: 20px;
            fill: #3a9995;
        }

        .cart-icon {
            width: 26px;
            height: 26px;
            fill: #f8f8ec;
            margin-left: 20px;
            cursor: pointer;
        }

        @media (max-width: 768px) {
            header {
                flex-wrap: wrap;
                gap: 10px;
            }

            .nav-links {
                flex-wrap: wrap;
                gap: 15px;
            }
        }
